@import "tailwindcss";

@theme {
    --color-background: #0b0d17;
    --color-surface: #151822;
    --color-primary: #e50914;
    --color-text-primary: #ffffff;
    --color-text-secondary: #9ca3af;

    --radius-xl: 0.75rem;
}
